{% extends "shared/base.html" %}

{% block title %}Início - SweetOrder{% endblock %}

{% block content %}
<!-- Seção Quem Sou Eu -->
<div class="container mt-5 mb-5">
    <div class="row align-items-center">
        <div class="col-md-6 mb-4">
            <img src="https://lh3.googleusercontent.com/pw/AP1GczODSB7WWXBUrYsJQ5rGnE0P4wDrYzKlcIOundAPoKy-VlUePJgROgfSeHOjdMlrFDSVRqJNEkwtZ1EE6nR0MRo4Stxjg0pwHxenlXVDsTQQ_qh60A56gbFYJtrKm35qrRbJceGMxXl8zFXEnH593k8nYA=w925-h925-s-no-gm?authuser=2" alt="Imagem da Confeiteira" class="img-fluid confeiteira-img">
        </div>
        <div class="col-md-6">
            <div class="quem-sou-eu-content p-4">
                <h2 class="mb-4">Quem Sou Eu</h2>
                <p class="descricao">
                    Sou uma confeiteira experiente, apaixonada por criar doces que encantam tanto pelo sabor quanto pela apresentação. Utilizo apenas produtos de altíssima qualidade, garantindo que cada encomenda seja feita com carinho e atenção aos mínimos detalhes. Meu trabalho é altamente conceituado, reconhecido pela excelência e pela satisfação dos meus clientes.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container mt-4">
    <div class="row">
        
        <div class="col-md-4 mb-4">
            <h3>Páscoa</h3>
            <div id="carouselPascoa" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczOuHF4IIIvpL3wVPD5zSNyMSFI0nsHn6wK6d53bIuG0VXQiKdvrrznCEwFnQTDQ5oeUHeqDQib-Uh5j9bkjvWZtk7J-jRwK_umzhafgeZqEsvL3rSHcECjLG90W38Knk_PjSRpfpOLd1_enbSYNEtyVUA=w1148-h925-s-no-gm?authuser=2" class="d-block w-100 carousel-image" alt="Imagem 1 de Páscoa">
                    </div>
                    <div class="carousel-item">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczM_8NlTiGGLpbkwBg1Sv-p_yl0TtGv9zHRhvZfwLx0G1yBqRLHNf361wmS_C6d9N3_PQ6b7p0ZX5A98XKiqt8aaTHOxx59FQm6Zk7sagW1XbXaWlN2XtmssJSGd0Qe4QJKWohTk_prESeud_I89fvOpbw=w925-h925-s-no-gm?authuser=2" class="d-block w-100 carousel-image" alt="Imagem 2 de Páscoa">
                    </div>
                    <!-- Adicione mais itens aqui -->
                </div>
                <a class="carousel-control-prev" href="#carouselPascoa" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselPascoa" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>

        <!-- Carrossel Natal -->
        <div class="col-md-4 mb-4">
            <h3>Natal</h3>
            <div id="carouselNatal" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczNhkTUb5NTsqnG3_nZbLbBkXy2Ql5k-1APpVT37Q56e8olAd8E7oaKyZHo1D_MW_MzxLlVGrViEMFeQuP-ASOrCODfexUJ2MyEaVuRTaMcbWSAOcEcbvy3022HpwYyFNFYGmp7MTJF_KCfMdWm4m-JWag=w925-h925-s-no-gm?authuser=2" class="d-block w-100 carousel-image" alt="Imagem 1 de Natal">
                    </div>
                    <div class="carousel-item">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczO-7_tNWOxItvP6YMyQKiB0WwhL0xNwK2IO-4uI6WsQv0FnuZ6tTwFl8ir2TrO5izzxDHQ04jQFnG2oSJHF2M9SIuz2gpLQWnyuPQWnbQn_5bXS2EJ25APoqwuRnXx392jE-ZatSvGsIpuF0YPPDbyKzQ=w925-h925-s-no-gm?authuser=2" class="d-block w-100 carousel-image" alt="Imagem 2 de Natal">
                    </div>
                    <!-- Adicione mais itens aqui -->
                </div>
                <a class="carousel-control-prev" href="#carouselNatal" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselNatal" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>

        <!-- Carrossel Aniversário -->
        <div class="col-md-4 mb-4">
            <h3>Aniversário</h3>
            <div id="carouselAniversario" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczNsCXVhzWKRFiMV2bXRh0Zzx9FBqqCA5qIUBSh7j3yjM8i_3p893Y_bh48cjXMXHBAkYk2an06X7mO1hBWxAtIPpzpgcwaTM3gSSajHKJZDsmaYoFIqs5n-hxES8qsbAATo9zzaQKJUQNo2viSzl-drww=w792-h925-s-no-gm?authuser=2" class="d-block w-100 carousel-image" alt="Imagem 1 de Aniversário">
                    </div>
                    <div class="carousel-item">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczN8ngnY6gYZ_OOPrzCZ7ZnwwKGCZ9LmnZWlRaC29m8O6X5_ljfJEmVHdeR2GLt3YQwPnkC5sqOs7rPWp6kr9jsdmsU2xSYabG3dT-Q270ggR549EU2dbaFIMBGG-xQZlt3-Qo6VE_xKLshtbSlUCvQNmA=w873-h925-s-no-gm?authuser=2" class="d-block w-100 carousel-image" alt="Imagem 2 de Aniversário">
                    </div>
                    <!-- Adicione mais itens aqui -->
                </div>
                <a class="carousel-control-prev" href="#carouselAniversario" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselAniversario" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row"><div class="col-md-4 mb-4">
        <h3>Bolos</h3>
        <div id="carouselBolos" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://lh3.googleusercontent.com/pw/AP1GczMQOep6AsCo0l2gCWEdUL2oeyID-ycoZOYqzM9cn_ealKSUSVWwJDf04rEPXOFBf_T4W6gKB73TuI9cSI1v9eI_e7D-Pyc35tGZcWGpTZxsrX8YvEH6-C5CPBz2i3lmtlC8k8kEdGxZGXBLhcVtcRmH4A=w745-h925-s-no-gm?authuser=2" class="d-block w-100" alt="Imagem 1 de Bolos">
                </div>
                <div class="carousel-item">
                    <img src="https://lh3.googleusercontent.com/pw/AP1GczMUC2cT-O1cL_EWbBAPpjgPN1nOdVByaph8wIlXqBNLlolqm4G6mi2ephJZOItpwKyct0b_qgq0JC55DsXd5VlSCvJj_SsWzMKTOENv0UMBx1i20dN2Ow8bqcy0ZY3JrlrocIV-h54-IZIfJDdm7K4Usw=w925-h925-s-no-gm?authuser=2" class="d-block w-100" alt="Imagem 2 de Bolos">
                </div>
                <div class="carousel-item">
                    <img src="https://lh3.googleusercontent.com/pw/AP1GczPwcxi0aCfzK41c-Qb2Bw4CmMa4w0iiPLkOmPsgi3u5JXr3aFRN2zB1U1Kdsds7gcsg3h5QsUj3lOuNf8Ka3xwEENtH06kWQQIkqaDBaYZRXJQz5_soye-D9sOmYjZ-q_Kd3zBQS1v-fH1qcUdiD4RFFQ=w925-h925-s-no-gm?authuser=2" class="d-block w-100" alt="Imagem 3 de Bolos">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselBolos" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselBolos" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a></div>
        </div>

        <!-- Carrossel para Bolos de Pote -->
        <div class="col-md-4 mb-4"><h3>Bolos de Pote</h3>
        <div id="carouselBolosPote" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://lh3.googleusercontent.com/pw/AP1GczNBchZNGAJlKj-W7YrgK9Wut8fLt152gEXXxVyZDq05eeFskWJVMQ8QrDkHeSCPh7vavjLnBYM7qwuXPkX7YXNuljrBI5DKEAna8ayu1RQgbn61Xwoyhhp1QDr81nktC4ztB9LTJhR3SEF3oosMpJaSwg=w824-h925-s-no-gm?authuser=2" class="d-block w-100" alt="Imagem 1 de Bolos de Pote">
                </div>
                <div class="carousel-item">
                    <img src="https://lh3.googleusercontent.com/pw/AP1GczPdzw8od0pUvhGl4Z_W7DWBFK5n7LsogZoYSIKsBB_CDABQOEp-iT95xkkrgH6ZS_HDcPQGDPh-0Lwv8tD76RW8HaSEiFGlMX9hlQ7yOIt_P8swNw75c9sxOCfQaVhbNVOb2sLE22x4NlOeFMHpnqC48A=w756-h925-s-no-gm?authuser=2" class="d-block w-100" alt="Imagem 2 de Bolos de Pote">
                </div>
                <div class="carousel-item">
                    <img src="https://lh3.googleusercontent.com/pw/AP1GczP_qPb2hOz3bhn_FaZkFTb9LsTcQajIouTyTIBjGuJy5txyvFYxTUMrKy2dOJeYlrsFdE1mr2dpG4QnnwBhaIPxubs2oDY_py3K90eNb3Y2vpCO6Mc9gSWJmOqxy0GJKlmh5f8EZca1v_Vp8d3XMqXerg=w740-h925-s-no-gm?authuser=2" class="d-block w-100" alt="Imagem 3 de Bolos de Pote">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselBolosPote" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselBolosPote" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a></div>
        </div>

        <!-- Carrossel para Bombons -->
        <div class="col-md-4 mb-4">
            <h3>Bombons</h3>
            <div id="carouselBombons" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczPpRnKR5RzBjie0Df9fMzFjrczSDIpBbF7qx81eqSD86lfVDM9cu-5WxpcEipYjFr9vj3MRJOR1Oq0C49rtvpLqqz-g5bWlOwj-0_41WE3nOzNq-v5elxYbLy-Q3R9vZtfU9de-l6YAvx-R8IN-9eyHzQ=w694-h925-s-no-gm?authuser=2" class="d-block w-100" alt="Imagem 1 de Bombons">
                    </div>
                    <div class="carousel-item">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczP4O0qnPRtXojsVbCL3smxGyJ9EfIxYXJiFQqyMOIFimFiA27dnxSF-Jn0Q3CrPtLH_rKASa2v2GkwTPs9MNkdMcHKZQ1f_v7wJezysHYVH4hr3OZmEhKaNABHwgaNX6KkTKXfUt15kTaKIDFdIe9BxoA=w694-h925-s-no-gm?authuser=2" class="d-block w-100" alt="Imagem 2 de Bombons">
                    </div>
                    <div class="carousel-item">
                        <img src="https://lh3.googleusercontent.com/pw/AP1GczNFW5RtjwUihfOqRUAqvCkrjUGXVE4Uiw0r5FE7Z6znDHM6KHvBgfzdpQsHgZ61yzGzhsAw9cP9nC6PtiM8ZsWi2GG1xa5dgCObhMMvR4zfAd0haea9o5uZZYIBpIQ0xYskz5YPDn2yyoMDIgroN6XsRQ=w694-h925-s-no-gm?authuser=2" class="d-block w-100" alt="Imagem 3 de Bombons">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselBombons" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselBombons" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
