<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}SweetOrder App{% endblock %}</title>
    </head>
    <body>    
        <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand">SweetOrder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.home') }}">Início</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Produtos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{{ url_for('client.products') }}">Todos</a>                        
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ url_for('client.products_sort', category='bolos') }}">Bolos</a>
                          <a class="dropdown-item" href="{{ url_for('client.products_sort', category='bolosdepote') }}">Bolos de Pote</a>
                          <a class="dropdown-item" href="{{ url_for('client.products_sort', category='docinhos') }}">Docinhos</a>
                          <a class="dropdown-item" href="{{ url_for('client.products_sort', category='aniver') }}">Aniversário</a>
                          <a class="dropdown-item" href="{{ url_for('client.products_sort', category='pascoa') }}">Páscoa</a>
                          <a class="dropdown-item" href="{{ url_for('client.products_sort', category='natal') }}">Natal</a>
                        </div>
                    </li>
                    {% if not current_user.admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('client.my_orders') }}">Meus Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('client.cart') }}">Carrinho</a>
                    </li>
                    {% endif %}
                    {% if current_user.admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.adm_Dashboard') }}">Painel do Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.admin_orders') }}">PEDIDOS</a>
                    </li>
                    {% endif %}

                </ul>
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">
                            <a>Bem vindo, <mark><b> {{ current_user.first_name }}</b></mark> !</a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.update_profile') }}">Meus dados <i class="fa fa-info-circle"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout <i class="fa fa-sign-out"></i></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.sign_in') }}">Registrar</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        

        <div class="d-flex flex-column min-vh-100">
            <div class="container mt-4 mb-auto">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var alerts = document.querySelectorAll('.alert');
                
                alerts.forEach(function(alert) {
                    setTimeout(function() {
                        alert.classList.remove('show');
                        alert.classList.add('fade');
                        
                        setTimeout(function() {
                            alert.remove();
                        }, 500);
                    }, 5000);
                });
            });
        </script>

        <footer class="footer-custom mt-auto py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2024 Aplicação Web. Todos os direitos reservados.</p>
                    </div>
    
                    <div class="col-md-6 text-right">                        
                        <a href="#" data-toggle="modal" data-target="#privacyModal">Política de Privacidade</a> |
                        <a href="#" data-toggle="modal" data-target="#termsModal">Termos de Uso</a>
                        <a href="https://www.facebook.com/profile.php?id=100063757321872" target="_blank" class="text-dark mx-2"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/doceriakaumagnabosco/" target="_blank" class="text-dark mx-2"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.tiktok.com/@doceriakauanamagnabosco" target="_blank" class="text-dark mx-2"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
        </footer>

        <div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="privacyModalLabel">Política de Privacidade</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Nós levamos sua privacidade a sério. Esta política descreve como coletamos, usamos e protegemos suas informações pessoais.</p>
                        <ul>
                            <li><strong>Coleta de Informações:</strong> Coletamos informações pessoais fornecidas por você, como nome, endereço de e-mail e informações de pagamento.</li>
                            <li><strong>Uso das Informações:</strong> Usamos suas informações para processar pedidos, melhorar o atendimento ao cliente e enviar atualizações sobre nosso serviço.</li>
                            <li><strong>Proteção de Dados:</strong> Tomamos medidas de segurança para garantir a proteção de suas informações contra acesso não autorizado.</li>
                            <li><strong>Cookies:</strong> Utilizamos cookies para melhorar sua experiência de navegação em nosso site. Você pode desativá-los nas configurações do navegador.</li>
                            <li><strong>Direitos de Privacidade:</strong> Você pode solicitar a exclusão ou modificação de suas informações a qualquer momento, entrando em contato conosco.</li>
                            <li><strong>Alterações na Política:</strong> Podemos modificar esta política a qualquer momento, e todas as mudanças serão refletidas nesta página.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para Termos de Uso -->
        <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="termsModalLabel">Termos de Uso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ao utilizar nosso site e serviços, você concorda com os seguintes termos e condições:</p>
                        <ul>
                            <li><strong>Aceitação dos Termos:</strong> Ao acessar nosso site, você concorda em cumprir os termos e condições aqui estabelecidos.</li>
                            <li><strong>Uso Permitido:</strong> Você concorda em utilizar nosso site apenas para fins lícitos e de acordo com todas as leis aplicáveis.</li>
                            <li><strong>Propriedade Intelectual:</strong> Todos os conteúdos, como textos, imagens e logos, são de nossa propriedade ou de terceiros e não podem ser usados sem autorização prévia.</li>
                            <li><strong>Responsabilidade:</strong> Não nos responsabilizamos por danos diretos ou indiretos decorrentes do uso de nossos serviços.</li>
                            <li><strong>Modificações:</strong> Reservamo-nos o direito de modificar ou descontinuar qualquer parte do serviço sem aviso prévio.</li>
                            <li><strong>Rescisão de Acesso:</strong> Podemos encerrar ou suspender seu acesso a qualquer momento, sem aviso prévio, por violação destes termos.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
