<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}SweetOrder App{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand">SweetOrder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('client.products') }}">Products</a>
                    </li>
                    {% if not current_user.admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('client.my_orders') }}">My Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('client.cart') }}">Cart</a>
                    </li>
                    {% endif %}
                    {% if current_user.admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.adm_Dashboard') }}">Admin Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.admin_orders') }}">ORDERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.addprod') }}">Add Product</a>
                    </li>
                    {% endif %}

                </ul>
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">
                            <a>Bem vindo, <mark><b> {{ current_user.first_name }}</b></mark> !</a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.update_profile') }}">Meus dados <i class="fa fa-info-circle"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout <i class="fa fa-sign-out"></i></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.sign_in') }}">Sign-in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="d-flex flex-column min-vh-100">
            <div class="container mt-4 mb-auto">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var alerts = document.querySelectorAll('.alert');
                
                alerts.forEach(function(alert) {
                    setTimeout(function() {
                        alert.classList.remove('show');
                        alert.classList.add('fade');
                        
                        setTimeout(function() {
                            alert.remove();
                        }, 500);
                    }, 5000);
                });
            });
        </script>

        <footer class="footer-custom mt-auto py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2024 Application. All rights reserved.</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
