
html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container .row {
    flex-grow: 1;
}

.container {
    padding-bottom: 50px; /* Ajuste conforme necessário */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7e7e1; /* Light rose champagne background */
    color: #5a5a5a; /* Darker text color for contrast */
}

.navbar-custom {
    background-color: #f4c2c2; /* Light champagne pink for navbar */
    color: #ffffff;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-text {
    color: #ffffff;
}

.navbar-custom .nav-link:hover,
.navbar-custom .navbar-brand:hover {
    color: #f7e7e1; /* Light rose champagne */
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px; /* Ajuste a altura do footer */
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
}

.footer-custom {
    background-color: #f4c2c2; /* Light champagne pink for footer */
    color: #ffffff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-custom a {
    color: #ffffff;
    text-decoration: none;
}

.footer-custom a:hover {
    color: #f7e7e1; /* Light rose champagne */
}

.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #e4a0a0; /* Slightly darker pink for buttons */
    border-color: #e4a0a0;
}

.btn-primary:hover {
    background-color: #d89090; /* Even darker pink for hover effect */
    border-color: #d89090;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(90,90,90, 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color:#f7e7e1;
    border-radius: 0.25rem;
    
    
  }

  