{% extends "shared/base.html" %}

{% block title %}Produtos - SweetOrder{% endblock %}

{% block content %} 

<div class="container">
    <h2>Produtos</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ product.image }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;"alt='Imagem do produto'>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name | truncate(25) }}</h5>
                    <h5 class="card-title">ID: {{ product.id }}</h5>
                    <p class="card-text text-truncate">
                        {{ product.description | truncate(100) }} 
                    </p>
                    <button class="btn btn-link" data-toggle="modal" data-target="#productModal{{ product.id }}">Ver Mais</button>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">R$ {{ product.price }}</small>
                        {% if current_user.admin %}
                        <a href="{{ url_for('admin.editprod', id=product.id) }}" class="btn btn-primary">Editar</a>
                        {% endif %}
                        {% if not current_user.admin %}
                        <a href="{{ url_for('client.add_to_cart', product_id=product.id) }}" class="btn btn-primary"><i class="bi bi-cart"></i> Adicionar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- POP UP -->
        <div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel{{ product.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalLabel{{ product.id }}">{{ product.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <center><img src="{{ product.image }}" class="img-fluid mb-3" alt="Imagem do produto"></center>
                        <p>{{ product.description }}</p>
                        <p>ID: {{ product.id }}</p>
                        <p>Preço: R$ {{ product.price }}</p>
                    </div>
                    <div class="modal-footer">
                        {% if not current_user.admin %}
                        <a href="{{ url_for('client.add_to_cart', product_id=product.id) }}" class="btn btn-primary">Adicionar</a>
                        {% endif %}
                        {% if current_user.admin %}
                        <a href="{{ url_for('admin.editprod', id=product.id) }}" class="btn btn-primary">Editar</a>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}