{% extends "shared/base.html" %}

{% block title %}Editar Produto{% endblock %}

{% block content %}

<h2>Editar Produto</h2>
<form method="POST" class="form-horizontal">
    <label for="name">Título:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
    
    <label for="price">Preço:</label>
    <input type="number" class="form-control" id="price" name="price" value="{{ product.price }}" required>
    
    <label for="name">Imagem:</label>
    <input type="text" class="form-control" id="image" name="image" value="{{ product.image }}" required>

    <label for="description">Descrição:</label>
    <textarea class="form-control" id="description" name="description" placeholder="Insira o texto" maxlength="500">{{ product.description }}</textarea>

    <label for="category">Categoria:</label>
    <textarea class="form-control" id="category" name="category" placeholder="{{ product.category }}" maxlength="500">{{ product.category }}</textarea>
    
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
</form>

<hr>

<h3>Excluir Produto</h3>
<form id="delete-product-form" action="{{ url_for('admin.delprod', id=product.id) }}" method="POST">
    <button type="button" class="btn btn-danger" onclick="openConfirmModal()">Excluir Produto</button>
</form>

<!-- Modal de confirmação de exclusão -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você tem certeza que deseja excluir este produto? Essa ação não pode ser desfeita.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn"><i class="fas fa-trash-alt"></i> Excluir</button>
            </div>
        </div>
    </div>
</div>

<script>
    let formToSubmit = null;

    function openConfirmModal() {
        $('#confirmDeleteModal').modal('show');
        formToSubmit = document.getElementById('delete-product-form');
    }

    document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
        if (formToSubmit) {
            formToSubmit.submit();
        }
    });
</script>

{% endblock %}
