{% extends "shared/base.html" %}

{% block title %}Adicionar Product - SweetOrder{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Adicionar Produto</h2>
    <form class="form-horizontal" method="POST" action="{{ url_for('admin.addprod') }}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="title">Título do Produto:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="price">Preço:</label>
                <input type="number" step="0.01" min="0.01" class="form-control" id="price" name="price" placeholder="R$ 0,00" required>
            </div>
            <div class="form-group">
                <label for="image">Imagem:</label>
                <input type="text" class="form-control" id="image" name="image" placeholder="Url da imagem" required>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Descrição:</label>
            <textarea class="form-control" id="description" name="description" placeholder="Insira o texto" maxlength="500"></textarea>
        </div>
        <div class="form-group">
            <label for="category">Categoria:</label>
            <textarea class="form-control" id="category" name="category" placeholder="Categoria"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
</div>

{% endblock %}