{% extends "base.html" %}

{% block title %}Show Data - SweetOrder{% endblock %}

{% block content %} 
<h2>Users List</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}